
@use '../../../color.scss' as *;



.l-header {
  background-color: $base-color;
  height: 80px;
  width: 100%;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  padding: 10px;
  display: flex;
  align-items: center;
  &__contents{
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .inner {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    a{
      display: flex;
      align-items: center;
      gap: 5px;
      .text{
        font-family: "Bad Script", serif;
        font-weight: 400;
        font-style: normal;
        margin-top: 5px;
      }
      .logo{
        width: 25px;
      }
    }

    .icon{
      width: 30px;
      aspect-ratio: 1 / 1;
      border-radius: 100px;
      overflow: hidden;
    }
    .ham-btn {
      width: 30px;
      aspect-ratio: 1 / 1;
      position: relative;
      cursor: pointer;

      > span {
        position: absolute;
        left: 0;
        width: 30px;
        height: 2px;
        background-color: $accent-color;
        transition: all 0.3s ease;

        &:nth-of-type(1) {
          top: 6px;
        }

        &:nth-of-type(2) {
          top: 14px;
        }

        &:nth-of-type(3) {
          top: 22px;
        }
      }

      &.is-active {
        > span:nth-of-type(1) {
          top: 14px;
          transform: rotate(45deg);
        }

        > span:nth-of-type(2) {
          opacity: 0;
        }

        > span:nth-of-type(3) {
          top: 14px;
          transform: rotate(-45deg);
        }
      }
    }
  }
  .menu{
    position: absolute;
    top: 80px;
    width: 100%;
    right: -100%;
    z-index: 3;
    background-color: $base-color;

    transition: all 0.3s;
    &.is-active{
      right: 0;
    }
    ul{
      padding: 20px;
      padding-top: 0;
      li{
        text-align: center;
        padding: 20px;
        border-bottom: 1px solid $accent-color;
        &:first-of-type{
          border-top: 1px solid $accent-color;
        }
      }
    }
  }
}
